<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	 <form action="/login" method="POST">

    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password">

    <button type="submit" name="btn" value="confirm">Confirm</button>
 	</form>

 	<form>
    
    <button type="submit" name="btn" value="logout">Logout</button>
  
  </form>

</body>
</html>